Source:                 test
Section:                utils
Priority:               optional
Maintainer:             Dmitriy <mail@mail.org>
Build-Depends:          
Standards-Version:      0.0.1
Homepage:               https://test.org

Package:                test
Architecture:           amd64
Provides:               test
Description: TEST packages.
 Deb Пакет с тестовым заданием.
